# -*- mode:yaml -*-

shinken:
  #TODO: use "worker" to match our salt states
  poller:
    tags: DMZ pinger
    realm: All

  # default snmp community
  snmp_community: public

  primary:
    # the config that must be shared between arbiters
    shared_config: salt://whatevs
    # host name for your graphite server
    graphite_host: graphite
