# -*- mode:yaml -*-

shinken:
  #TODO: use "worker" to match our salt states
  poller:
    tags: DMZ pinger
    realm: All

  # default snmp community
  snmp_community: public

  # the config that must be shared between arbiters; hosts
  shared_config: salt://whatevs

  graphite:
    # host name for sending metrics in
    host: graphite
    # uri for rendering graphs in the shinken ui
    uri: http://graphite/

  # custom packs to install; key : source
  packs:
    adw: salt://my-custom-pack
    pack-windows: shinken.io # if the source is shinken.io, then pull from there
