{% set packages = salt['grains.filter_by']({
  'Debian': {
    'shinken': ['python-pycurl', 'python-pip'],
    'config': ['git-core'],
    'poller': ['nagios-plugins', 'libnet-snmp-perl', 'snmp', 'snmp-mibs-downloader']
  }
}, merge=salt['pillar.get']('shinken:lookup')) %}
